<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NaoCoopDataAccess.Properties.Settings.NaoCoopDbConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=NaoCoopDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>